.icon {
    padding-right: 18px;
    /* padding-top: 5px; */
    text-decoration-color: white;
}

.icon:last-child {
    padding: 0;
}

.bottom-header {
    position: relative;
    width: 100%;
    font-size: 6rem;
    font-weight: 900;
    opacity: 0.9;
    text-align: center;
    color: white;
    bottom: 0;
    padding-top: 6rem;
}

@media (max-width: 500px) {
    .bottom-header {
        width: 100%;
        font-size: 4rem;
        font-weight: 900;
        opacity: 0.9;
        text-align: center;
        color: white;
        bottom: 0;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }
}
.other-header {
    position: relative;
    width: 100%;
    font-size: 3rem;
    font-weight: 900;
    opacity: 0.9;
    text-align: center;
    color: white;
    bottom: 0;
}
.bottom-subheader {
    position: relative;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: white;
    bottom: 0;
    padding-bottom: 1rem;
    font-style: italic;
    font-weight: 700;
    opacity: 0.9;
}

.footer-date {
    font-style: italic;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }

}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #253036;
        color: white;
    }

    a, h2, h3 {
        color: white;
    }

    h1 {
        color: white;
    }
}