.icon {
    padding-right: 18px;
    /* padding-top: 5px; */
    text-decoration-color: white;
}

.bottom-header {
    position: relative;
    width: 100%;
    font-size: 4rem;
    font-weight: 900;
    opacity: 0.9;
    text-align: center;
    color: white;
    bottom: 0;
}
.other-header {
    position: relative;
    width: 100%;
    font-size: 3rem;
    font-weight: 900;
    opacity: 0.9;
    text-align: center;
    color: white;
    bottom: 0;
}
.bottom-subheader {
    position: relative;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: white;
    bottom: 0;
    padding-bottom: 1rem;
    font-style: italic;
    font-weight: 700;
    opacity: 0.9;
}

.footer-date {
    font-style: italic;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }

}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1E1E1E;
        color: white;
    }

    a, h2, h3 {
        color: white;
    }

    h1 {
        color: white;
    }
}